/*xử lý tỉ lệ hình ảnh và hình ảnh*/
    .imgcon {
    width: 100%; 
    position: relative !important;
    padding-top: 100%; 
    overflow: hidden;
    }
    
    .imgcon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
    }
    
    .imgcon:hover .mainimg {
        z-index: 0!important; /* Khi hover, đẩy .mainimg ra sau .sub */
    }
    .noscroll {
        overflow: hidden;
    }
    input:focus{
        outline: none;
    }
    /**/
    .titleimgbottom {
    position: absolute;
    bottom: 0;
    left:0 ;
    right: 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    
    }
    .titlebottom:hover .titleimgbottom{
        background-color:rgb(0, 0, 0);
        color : rgb(255, 255, 255);
        
    }
    .borderbottom {
        padding: 0 !important;
    }
    .borderbottom::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s ease;
      }
    
      .borderbottom:hover::before {
        transform: scaleX(1);
      }
    
    /**/
    .addicon {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: blanchedalmond;
        color: black;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 12px;
        padding: 4px 8px;
        font-family: "brandon-grotesque", sans-serif !important;
        font-size:  14px;
        display: none;
        z-index: 3;
        }
    .saleicon {
        position: absolute;
        top: 0;
        left: 0;
        background-color: blanchedalmond;
        color: black;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 12px;
        padding: 4px 8px;
        font-family: "brandon-grotesque", sans-serif !important;
        font-size:  12px;
    }
    
    
    
    .slidecontainer {
        display: flex;
        flex-wrap: nowrap !important; /* Cho phép các phần tử tràn khi không còn không gian đủ */
        overflow-x: auto;
        padding: 0 !important;
    }
    .slidecontainer::-webkit-scrollbar {
        display: none;
      }
      
    .product :hover .addicon{
        display: block;
    }
    
    .div-img {
        width: 100%; 
        position: relative;
        padding-top: 125%; 
        overflow: hidden;
        }
        .div-img img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 83%;
            object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
            }
            
    .btn-slide {
        cursor: pointer;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        text-align: center;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255);
        padding: 14px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        gap: 8px;
        -webkit-box-pack: start;
        justify-content: start;
        height: 54px;
        width: 54px;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
    }
    .borderbuild {
        border: 1px solid;
        border-right: hidden;
    }
    
    /* body {
        font-family: 'Be Vietnam' !important;
    } */